.footer {
    padding: $separacion / 2 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer {
        padding-top: $separacion/2 0;
        //padding-top: $separacion;
    }
    

    .copyright {
        color: $blanco;
        text-align: center;
    }
}